div#wphttps-main div#post-body {
	overflow: hidden;	
}

form#wordpress-https {
	float: left;
	margin-top: 15px;
}
form#wordpress-https h3 {
	margin-bottom: .5em;
}
form#wordpress-https input[type="text"] {
	margin: -5px 0 0 0;
}
form#wordpress-https input[type="checkbox"] {
	margin: 0;
}
form#wordpress-https table tr td,
form#wordpress-https table tr th {
	line-height: 1em;
	padding: 10px;
}
form#wordpress-https table tr td {
	padding: 10px 0 0 0;
}
form#wordpress-https #settings-reset {
	float: left;
	margin-right: 10px;
}

div#wphttps-sidebar {
	margin: 20px 0 0 -300px;
	clear: right;
	float: right;
	width: 300px;
}
div#wphttps-sidebar div.wphttps-widget {
	margin: 0 auto 20px auto;
	width: 285px;
}

div.wphttps-widget h3 {
	cursor: auto !important;
}

div.wphttps-widget-content {
	background: #F1F1F1;
	padding: 5px 20px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border: 1px solid #DDD;
	border-top: 0;
}
div.wphttps-widget h3 {
	font-size: 13px;
	height: 19px;
	margin: 0;
	overflow: hidden;
	padding: 5px 12px;
	white-space: nowrap;
	background: url(images/widget-title.png) repeat-x;
	border: 1px solid #636363;
	border-bottom: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	color: #FFF;
	text-shadow: 0 -1px 0 #3F3F3F;
}

div.wphttps-widget#wphttps-warnings h3 {
	background: url(images/widget-title-red.png) repeat-x;
	border-color: #7B4A4A;
	text-shadow: 0 -1px 0 #4E2F2F;
}
div.wphttps-widget#wphttps-warnings div.wphttps-widget-content {
	border-color: #E5D4D4;
	background-color: #F4EDED;
	color: #3F2626;
	word-wrap: break-word;
}

div.wphttps-widget#wphttps-warnings .warning-help {
	background: url(images/help.png) no-repeat 50% 50%;
}

div.wphttps-widget#wphttps-updates img#updates-loading {
	display: block;
	margin: 1em auto;	
}

div.wphttps-widget#wphttps-donate a#wphttps-donate-link {
	display: block;
	margin: 0 auto 10px auto;
	width: 74px;
	height: 21px;
}

.wphttps-icon {
	display: inline-block;
	height: 16px;
	width: 16px;
	overflow: hidden;
	text-indent: -1000em;
	vertical-align: top;
	padding: 0 3px;
	cursor: pointer;
}

div.wphttps-message-wrap {
	position: fixed;
	bottom: 50%;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	z-index: 10;
	text-align: center;
}

div#message {
	margin: 15px 0 0 0;
}
div#message p {
	line-height: 100%;
}

.wphttps-warning {
	display: none;
}

div#wphttps-main img.waiting {
	display: none;
}
div#wphttps-main img#submit-waiting {
	vertical-align: middle;
	margin-left: 5px;
}

#wphttps-tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #DDD;
	background-color: #FFF;
	padding: 5px;
	font-size: 13px;
	max-width: 350px;
}
.wphttps-tooltip-body {
	display: none;
}

/* Post Edit Page */
.branch-3-2 .misc-pub-section-last {
	border-bottom-width: 1px;
}
.misc-pub-section-wphttps {
	border-bottom-width: 0;
}