#adminmenu .menu-top.toplevel_page_wordpress-https .wp-menu-image img {
	display: none;	
}

#adminmenu .menu-top.toplevel_page_wordpress-https  div.wp-menu-image:before {
	content: "\f160";
}
#side-sortables #wordpress-https .inside {
	padding: 0;
	margin: 0;	
}