.wphttps-message-wrap {
	position: fixed;
	bottom: 50%;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	z-index: 10;
	text-align: center;
}
.wphttps-message-wrap ul {
	margin: 0;
}

#wphttps-main #icon-options-https {
	background: url(images/admin-icon32.png) no-repeat;
}

#wphttps-main .meta-box-sortables {
	margin: 0 8px;
}

#wphttps-main #poststuff .column-primary {
	width: 60%;
	padding: 0;
}
#wphttps-main #poststuff .column-secondary {
	width: 40%;
	float: right;
	padding: 0;
}

#wphttps-main #message {
	margin: 15px 0 0 0;
}
#wphttps-main #message p {
	line-height: 100%;
}

#wphttps-main img.loading {
	display: block;
	position: absolute;
	top: 7px;
	right: 7px;	
}

#wphttps-main img.waiting {
	display: none;
}
#wphttps-main img.submit-waiting {
	vertical-align: middle;
	margin-left: 5px;
}

#wphttps-donate-link img {
	display: block;
	margin: 5px auto 13px auto;
}

#wphttps-main input[type="text"] {
	margin: -5px 0 0 0;
}
#wphttps-main input[type="checkbox"] {
	margin: 7px 0 0 0;
	vertical-align: bottom;
}
#wphttps-main table tr td,
#wphttps-main table tr th {
	line-height: 1em;
	padding: 10px;
}
#wphttps-main table tr td {
	padding: 2px 0 0 0;
}
#wphttps-main table tr td:first-child {
	padding-top: 0;
}
#wphttps-main table th {
	width: 140px;
	line-height: 32px;
	padding: 0;
}
#wphttps-main label.label-radio {
	display: block;
	margin-top: 5px;
}
#wphttps-main #settings-reset,
#wphttps-main #filters-reset {
	float: left;
	margin-right: 10px;
}
#wphttps-main #ssl_port_label {
	display: inline-block;
	padding-top: 10px;	
}
#wphttps-main #ssl_host {
	width: 70%;
}
#wphttps-main #exclusive_https_row label {
	padding-top: 5px;	
}

#wphttps-main #admin_menu_row label {
	display: inline;
}

#wphttps-main #secure_filter_row textarea {
	width: 95%;
	height: 120px;
}